/* ResultList.css */
.result-list {
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  .result {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  
  .teams {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .vs {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    color: #777;
  }
  
  .scores {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }
  
  .date {
    color: #777;
  }
  